.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
  &__container {
    display: flex;
    min-height: 114px;
    align-items: center;
  }

  &__logo {
    position: relative;
    z-index: 5;
  }

  &__menu {
    flex: 1 1 auto;
  }

  &__button {
    position: relative;
    flex: 0 0 252px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 5;
  }
}
.menu {
  display: flex;
  justify-content: flex-end;

  &__list {
    display: flex;
  }

  &__item {
    margin: 0 40px 0 0;
  }

  &__link {
    font-family: "Raleway";
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10px;
    line-height: 1.2;
    color: black;
    letter-spacing: 1px;
  }
}

.icon,.close-icon {
  &-menu{
    display: none;
  }
 }
 
