@media (max-width: 1087px) {
  [class*="__container"] {
    max-width: 970px;
  }

  .healthcare__column {
    padding: 0px 15px;
  }
}
@media (min-width: 991.98px) {
  .stay-safe {
    &__media {
      padding: 0 0 0 47px;
    }
  }
}
@media (max-width: 991.98px) {
  [class*="__container"] {
    max-width: 750px;
  }

  .header {
    &__button {
      flex: 0 0 170px;
    }
    &__container {
      min-height: 80px;
    }
  }

  .menu {
    &__item {
      margin: 0 30px 0 0;
    }
  }

  .get-started {
    &__container {
      &::before {
        right: 185px;
      }
    }
  }
  .stay-safe {
    padding: 40px 0;
  }

  .healthcare{
    padding: 30px 0 30px 0;
  }
  .healthcare__column {
    flex-direction: column;
    &:not(:last-child){
      margin-bottom: 25px;
    }
  }
}

@media (max-width: 767.98px) {
  [class*="__container"] {
    max-width: none;
  }
  .close-icon,
  .icon {
    &-menu {
      position: relative;
      flex: 0 0 30px;
      height: 18px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 0 0 0 20px;
      &::before {
        content: "";
        background-color: #000;
        height: 2px;
      }
      &::after {
        content: "";
        background-color: #000;
        height: 2px;
      }
      span {
        height: 2px;
        background-color: #000;
      }
    }
  }
  .close-icon-menu {
    display: none;
    width: 32px;
    height: 32px;
  }
  .close-icon-menu:hover {
    opacity: 1;
  }
  .close-icon-menu:before,
  .close-icon-menu:after {
    position: absolute;
    left: 15px;
    content: " ";
    height: 33px;
    width: 2px;
    background-color: #333;
  }
  .close-icon-menu:before {
    transform: rotate(45deg);
  }
  .close-icon-menu:after {
    transform: rotate(-45deg);
  }

  .menu {
    &__body {
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      overflow: auto;
      height: 100%;
      background-color: #fff;
      padding: 90px 15px 30px 15px;
      transition: left 0.3s ease 0s;
    }
    &__list {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &__link {
      font-size: 20px;
    }
    &__item {
      margin: 0 0 25px 0;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .header:target .menu__body {
    left: 0;
    &::before {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      height: 80px;
      width: 100%;
      background-color: #fff;
    }
  }

  .header:target .icon-menu {
    display: none;
  }

  .header:target .close-icon-menu {
    display: flex;
  }

  .get-started {
    &__container {
      padding: 100px 15px 30px 15px;
      &::before {
        display: none;
      }
    }
    &__block-text {
      max-width: none;
    }
    &__content {
      flex: 1 1 100%;
      padding: 0;
    }
    &__image {
      flex: 1 1 100%;
      text-align: center;
      padding: 30px 0;
    }
    &__video {
      padding: 0;
    }
  }
  .block-text {
    &__title {
      font-size: 34px;
    }
  }
  .stay-safe {
    &__container {
      flex-direction: column-reverse;
      padding: 0;
    }
    &__content {
      margin: 0 0 30px 0;
    }
  }

  .experts {
    padding: 80px 0px 30px 0px;
    &__container {
    }

    &__statistics {
    }

    &__body {
      flex-direction: column;
      align-items: stretch;
    }

    &__content {
      padding: 0;
      margin-bottom: 30px;
    }

    &__block-text {
    }

    &__video {
      padding: 0 0 58% 0;
    }
  }
  .statistics-experts {
    &__body {
      margin-bottom: 50px;
    }

    &__decor {
      &_1 {
      }

      &_2 {
      }

      &_3 {
      }
    }
  }
  .body-statistics-experts {
    padding: 25px;

    &__item {
    }

    &__value {
    }

    &__text {
    }
  }
  .block-text {
    &__title {
      &_blue {
      }
    }

    &__text {
    }

    &__button {
    }
  }
}


@media (max-width: 479.98px) {
  .header {
    &__logo {
      flex: 0 0 40px;
      overflow: hidden;
    }
  }
  .media-stay-safe {
    width: 290px;
  }
  .body-statistics-experts {
    flex-direction: column;
  }
  .body-statistics-experts__item:not(:last-child) {
    margin-bottom: 15px;
  }
}
